.pes/
*.o
pes
test_tree
test_objects
file*.txt
hello.txt
bye.txt# Compiled binaries
pes
test_objects
test_tree

# Object files
*.o
*.obsidian

# PES repository (created during testing)
.pes/

# Editor files
*.swp
*.swo
*~
.vscode/
.idea/


